/* Consider switching to `stylers`: https://github.com/abishekatp/stylers. */

body {
	margin: 0px;
	background-color: gray;
}

.Home {
	display: flex;
	flex-flow: row nowrap;
}

.RenderSurface {
	width: 100%;
	aspect-ratio: 1/1;
}

.Canvas {
	flex: 4;
}

.ColorPicker {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

.ColorPicker > input[type="range"] {
	/* width: 100%; */
}
